@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
/* @import url(https://fonts.googleapis.com/css?family=Montserrat:800); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: #f39c12;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.plan-container {
  font-family: "Raleway", Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 50px 10px 10px;
}
.plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  background-color: #262626;
  border: 1px solid #1e1e1e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.plan:hover {
  background-color: #1c1c1c;
}

.plan:hover i {
  transition: all 0.25s ease-out;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

header {
  position: relative;
  padding: 20px 10px;
}
header i {
  font-size: 56px;
  margin: 0 15px;
  color: #f39c12;
  display: inline-block;
  float: left;
}
.plan-title {
  top: 0;
  font-weight: 800;
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.plan-cost {
  margin: 0;
  opacity: 0.2;
}
.plan-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  font-size: 1.3em;
}
.plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.plan-features {
  padding: 0;
  margin: 0 0 40px;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
  text-align: left;
}
.plan-features li {
  padding: 5px 5%;
  font-weight: 500;
  opacity: 0.5;
  border-left: 5px solid #f39c12;
  margin: 2px 20px;
}
.plan-select {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.plan-select a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 40px;
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  background-color: #f39c12;
}
.plan-select a:hover {
  background-color: #262626;
  transition: all 0.25s ease-out;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.featured {
  margin-top: -10px;
  background-color: #262626;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.featured .plan-select a {
  margin: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .plan {
    width: 49%;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .plan-title,
  .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .plan-select a,
  .featured .plan-select a {
    margin: 20px;
  }
  .plan-container .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .plan {
    width: 100%;
  }
}
