@import "../../scss/variables", "../../scss/mixin";

.navbar{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      background-color: $cardNavBgColor;
      
      a{
            color: white;
            font-size: 2rem;
            text-decoration: none;
            padding: 1rem;
            font-weight: bold;
            
            &:hover{
                  background-color: $backgroundColor;
                  color: $cardNavBgColor;
            }
      }
      
}

@include media-xsm {
      .navbar{
            flex-direction: column;
            text-align: center;
            a{
                  padding: 0.3rem;
            }
      }
}

@include media-sm {
      .navbar{
            flex-direction: row;
      }
}