*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    width: 90%;
    background-color: wheat;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

img{
    width: 200px;
}

.resim-1{
    float: left;
    margin-right: 10px;
}

.resim-2{
    float: right;
    margin-left: 10px;
}
.first p {
    clear: both;
}

.second{
    width: 90%;
    background-color: wheat;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.resim-3{
float: left;
margin-right: 10px;
}

.resim-4{
    float: right;
    margin-right: 10px;
    }