body {
    margin: 0;
    padding: 0;
}

.first {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(191, 245, 245);
    padding: 20px;
    z-index: 0;
}

h2{
    text-align: center;
}
img{
    width: 300px;
}

.resim-1{
    position: relative;
    top: 50px;
    z-index:1;
    opacity:0.3 ;
    overflow: auto;
}

.resim-2{
    position: absolute;
    right:5%;
    top: 100px;
    z-index: 1;
    opacity: 0.3;
}

.first p{
    position: relative;
    top: -100px;
    z-index:2;
    letter-spacing: 5;
    text-align: justify;
}