*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list-container {
    display: flex;
    justify-content: center;
    border: black 2px solid;
    width: 50%;
    margin:10px auto;
}

.car-container{
    width: 50%;
}

.color-container{
    width: 50%;
}
.car-list {
    list-style: square inside url();
}

.color-list {

}

.table-container{
    width: 50%;
    margin: 10px auto;
}

table, th, td, tr {
    border: black solid 2px;
    border-collapse: collapse;
    /* background-color: cyan; */

}

td {
    height: 50px;
    vertical-align:bottom;
}

.table {
    width: 100%;
}

.button-td{
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px;
}

tr:nth-child(odd):hover{
    background-color: grey;
}

tr:nth-child(even):hover{
    background-color: red;
}

p::first-line{
    color: red;
}
h4::after, h4::before{
    content: "😀"; 
    width: 15px; 
}
.span-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.naim, .munir{
    
    margin:5px;
    display: block;
    width: 25%;
    border: black 2px solid;
}

.alper{
    display: inline;
}